@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --background-dark: #f1f1f1;
  --background-card: #c7c7c799;
  --foreground: #141416;
  --text: #94a3b8;
  --white: #ffffff;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-dark: var(--background-dark);
  --color-background-card: var(--background-card);
  --color-text: var(--text);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-public-sans: var(--font-public-sans);
  --font-outfit: var(--font-outfit);
  --breakpoint-sm: 375px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2560px;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family:
      Inter,
      Poppins,
      Public Sans,
      Outfit,
      Halvetica,
      sans-serif;
  }

  section {
    max-width: 1440px;
    width: 100%;
    @apply px-[30px] md:px-16 lg:px-24;
  }

  button {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
  }
}

@layer components {
  @media (max-width: 599.1px) {
    .mobile-header {
      padding-top: 30px !important;
    }
  }
}
